// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F18D23;
$dark-orange: #eb7900;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: rgb(168, 165, 162);
$light-salmon: #FFFAF6;
$blocked-gray: #c1c1c1;
