.about-us {
  color: white;
}

.friends {
  margin: 68px 48px 96px 48px;
}

.friend-photo {
  width: 335px;
  height: 235px;
}

.friends-info {
  width: 335px;
  text-align: justify;
  height: 200px;
}

.picture-line-box {
  display: flex;
  justify-content: center;
  height: 90px;

  .picture-line {
    border: 1.5px solid $orange;
    margin: 15px 0px 15px 0px;
  }
}

.picture-line.contact {
  margin: 40px 0px 40px 0px;
}

.picture-line-box.contact {
  height: 140px;
}

.collage-left, .collage-right {
  width: 415px;
}

.eagle-photo {
  width: 326px;
  height: 195px;
  margin: 5px;
}

.canyon-photo {
  width: 212px;
  height: 289px;
  margin: 5px;
}

.vinyard-photo {
  width: 411px;
  height: 310px;
  margin: 5px;
}

.mountain-photo {
  width: 270px;
  height: 176px;
  margin: 5px;
}

.contact-info {
  margin-bottom: 30px;
}
