// COLORS

.orange-bottom {
  border-top: 5px solid $orange;
  width: 40px;
}

.small-orange-border {
  border-bottom: 1px solid $orange;
}

.bg-salmon {
  background-color: $light-salmon;
}

.orange_bold {
  color: $orange;
  font-weight: 500;
}

body {
  background-color: $light-salmon;
}

.dark-backdrop {
  background-color: rgba(102, 102, 102, 0.6);
}

// LINES

.bottom-line-box {
  display: flex;
  justify-content: center;
  height: 60px;

  .bottom-line {
    border: 2.5px solid $orange;
    margin-top: 10px;
  }
}

.bottom-line-box.home {
  transform: translateY(-60px);
}

.bottom-line-box.gallery {
  transform: translateY(-184px);
}


.top-line-box {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-bottom: 24px;
  // transform: translateY(-100px);

  .top-line {
    border: 2.5px solid $orange;
    margin-bottom: 10px;
  }
}

.side-line-box {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 4px;

  .side-line {
    border: 1.5px solid $orange;
    width: 100%;
  }
}

// Radius

.rounded-borders10 {
  border-radius: 10px;
}

// FONTS

.montserrat-header {
  font-size: 24px;
  font-weight: 500;
}

// WIDTH

.w75 {
  width: 75%
}

// HEIGHT

.h100 {
  height: 100px;
}

// PADDINGS

.p12 {
  padding: 12px;
}

.pt18 {
  padding-top: 18px !important;
}

.pb18 {
  padding-bottom: 18px !important;
}

// MARGINS

.no-margin-btm {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt10 {
  margin-top: 10%;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb24 {
  margin-bottom: 24px;
}

.mt24 {
  margin-top: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mb36 {
  margin-bottom: 36px;
}

.mt36 {
  margin-top: 36px;
}

.mr48 {
  margin-right: 48px;
}

.mt48 {
  margin-top: 48px;
}

.mb48 {
  margin-bottom: 48px;
}

.mt72 {
  margin-top: 72px;
}

.mb72 {
  margin-bottom: 72px;
}
