// Specific CSS for your home-page
.full-page {
  width: 100vw;
  height: 100vh;
}

.home-content {
  color: white;

  h1 {
    font-weight: bold;
    margin-bottom: 36px;
    font-size: 72px;
    letter-spacing: 5px;
  }
}

.sub-header {
  width: 500px;

  p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 72px;
    line-height: normal;
  }
}

.page-header {
  font-size: 64px;
}
