// Specific CSS for your home-page
.full-page {
  width: 100vw;
  height: 100vh;
}

.home-content {
  color: white;

  h1 {
    font-weight: bold;
    margin-bottom: 36px;
    font-size: 72px;
    letter-spacing: 5px;
  }
}

.bottom-line-box {
  display: flex;
  justify-content: center;
  height: 60px;

  .bottom-line {
    border: 2.5px solid $orange;
    margin-top: 10px;
  }
}

.bottom-line-box.home {
  transform: translateY(-60px);
}

.bottom-line-box.gallery {
  transform: translateY(-184px);
}


.top-line-box {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-bottom: 24px;
  // transform: translateY(-100px);

  .top-line {
    border: 2.5px solid $orange;
    margin-bottom: 10px;
  }
}

.sub-header {
  width: 500px;

  p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 72px;
    line-height: normal;
  }
}

.page-header {
  font-size: 64px;
}
