<div class="navbar">
  <div class="container nav-content">
    <%= link_to root_path do %>
      <%= image_tag("camper-van-large.png") %>
    <% end %>
    <div class="menu-items">
      <div>
        <p>Gallerij</p>
        <div class="orange-bottom"></div>
      </div>
      <div>
        <p>Camper huren en dan?</p>
        <div class="orange-bottom"></div>
      </div>
      <div>
        <p>Over ons</p>
        <div class="orange-bottom"></div>
      </div>
      <div>
        <p>Beschikbaarheid</p>
        <div class="orange-bottom"></div>
      </div>
    </div>
  </div>
</div>
