<div class="full-page road-horizontal" style="background-image: linear-gradient(119.72deg, rgba(0, 0, 0, 0.7) 47.57%, rgba(0, 0, 0, 0.574) 73.7%, rgba(0, 0, 0, 0) 92.27%), url('<%= image_path("road-horizontal.jpg") %>');">
  <div class="top-line-box"><div class="top-line"></div></div>
    <div class="container d-flex justify-content-center h-100">
      <h1 class="page-header">Gallerij</h1>
    </div>
  <div class="bottom-line-box gallery"><div class="bottom-line"></div></div>
</div>
