<div class="bg-salmon">
  <div class="top-line-box"><div class="top-line"></div></div>
    <div class="h-100">
      <div class="d-flex justify-content-center align-items-center">
        <div class="infopage-header"><h1 class="page-header">Camper huren en dan?</h1></div>
      </div>
      <div class="d-flex">
        <div class="info-container h-100">
          <h3>Vooraf <i class="fa-solid fa-file"></i></h3>
          <div class="sub-line"></div>
          <div class="info-box">
            <p class="no-margin-btm">Je huurt onze camdiver voor jouw vakantie.
            Je hebt het huurcontract ingevuld en natuurlijk de huurvoorwaarden goed gelezen.
            Je hebt zelf een reisverzekering afgesloten. Kortom je bent goed voorbereid op de reis.</p>
            <p class="no-margin-btm">Wij hebben ook ons best gedaan zodat jij onbezorgd op vakantie kunt.</p>
            <p class="no-margin-btm">Op vrijdagmiddag 15:00 uur staat de camper klaar om opgehaald te worden.</p>
            <p class="no-margin-btm">Als de camper eerder klaar is, word je door ons gebeld.
            Natuurlijk krijg je een uitgebreide uitleg over de camper, zodat je met een gerust hart op pad kunt.</p>
          </div>

          <h3>Verzekering & Pech <i class="fa-solid fa-screwdriver-wrench"></i></h3>
          <div class="sub-line"></div>
          <div class="info-box">
            <p class="no-margin-btm">Onze camper is allrisk verzekerd, inclusief internationale pechhulp en een vervangende camper mocht dat nodig zijn.
            De verzekeringskosten zijn bij de huurprijs inbegrepen.</p>
            <p class="no-margin-btm">We hopen natuurlijk dat het nooit nodig zal zijn, maar mocht er onderweg iets gebeuren en heb je hulp nodig, neem dan contact met ons op.
            We helpen graag!</p>
            <p class="no-margin-btm">De camper is verzekerd bij Aveco en de Pechhulp Service is bereikbaar via:
            Aveco alarmcentrale +31 (0)20 59 29 197 (24 u/7 dagen per week)</p>
          </div>

          <h3>De reis <i class="fa-solid fa-van-shuttle"></i></h3>
          <div class="sub-line"></div>
          <div class="info-box">
            <p class="no-margin-btm">Onze ervaring is dat de bus heerlijk rijdt en dat de camper van alle gemakken is voorzien.
            Mochten er toch nog onduidelijkheden zijn dan kun je ons altijd telefonisch bereiken of een berichtje sturen.</p>
          </div>
        </div>
        <div>
          <%= image_tag("houses.JPG", class: "image-box-right") %>
        </div>
      </div>
      <div class="d-flex mt72">
        <div>
          <%= image_tag("sunset.JPG", class: "image-box-left") %>
        </div>
        <div class="info-container h-100">
          <h3>Betaling <i class="fa-solid fa-money-bill-wave"></i></h3>
          <div class="sub-line"></div>
          <div class="info-box">
            <p class="no-margin-btm">Je hebt het huurcontract ingevuld, ondertekend en opgestuurd.
              Maak dan vier maanden voor de huurperiode begint € 680,- over als aanbetaling. </p>
            <p class="no-margin-btm">Dit bedrag is tevens de borg. Twee weken voordat je de camper ophaalt
              dient de rest van het huurbedrag overgemaakt te zijn.</p>
          </div>

          <h3>Weer thuis <i class="fa-solid fa-house-chimney"></i></h3>
          <div class="sub-line"></div>
          <div class="info-box">
            <p class="no-margin-btm">Je hebt een berg vuile was en een hoofd vol mooie herinneringen.
            We hopen dat je een fantastische reis hebt gehad! Dan moet de camper weer terug. </p>
            <p class="no-margin-btm">ussen 9:00 en 10:00 uur mag je de camper met een volle brandstoftank weer terugbrengen naar de plaats waar je deze ook hebt opgehaald. </p>
            <p class="no-margin-btm">Lever de camper schoon weer in (binnenkant) en denk ook aan de vuilwatertank en het cassettetoilet.
            Wij zorgen dat de buitenkant schoongemaakt wordt.</p>
          </div>

        </div>
      </div>
    </div>
  <div class="bottom-line-box"><div class="bottom-line"></div></div>
</div>
