<div class="bg-salmon pb-5">
  <div class="top-line-box"><div class="top-line"></div></div>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="d-flex align-items-center mb48">
          <%= link_to '<i class="fa-solid fa-arrow-left back-button mr48"></i>'.html_safe, :back %>
          <div class="d-flex justify-content-center align-items-center w-100">
            <h1 class="page-header text-center">Huisregels en voorwaarden</h1>
          </div>
        </div>
        <div class="mb36">
          <div class="d-flex">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> Ophalen en terugbrengen van de camperbus</p>
          </div>
          <p class="no-margin-btm">Adres: </p>
          <p class="no-margin-btm">Esdoornstraat 7</p>
          <p class="no-margin-btm">9501GG Stadskanaal</p>
        </div>

        <div class="mb36">
          <div class="d-flex">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> De huurder en huurperiode</p>
          </div>
          <p>De huurder dient minimaal 23 jaar oud te zijn en over een geldig B-rijbewijs te beschikken.
            De minimale huurperiode van de camper is één week, deze gaat in op vrijdagmiddag 15:00 uur en eindigt op
            vrijdagmorgen 10:00 uur. Om 15:00 uur kan de camper opgehaald worden, is de camper eerder klaar dan
            bellen we je. Terugbrengen kan tussen 09:00 en 10:00 uur; later terug is niet mogelijk.
          </p>
        </div>

        <div class="mb36">
          <div class="d-flex">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> Verhuur in de winter</p>
          </div>
          <p>In de winter is het alleen toegestaan om met de camperbus naar een relatief warme bestemming te gaan
              zoals Spanje of Portugal. Een wintersportbestemming is niet toegestaan. De camper heeft zomerbanden,
              geen winterbanden.
          </p>
        </div>

        <div class="mb36">
          <div class="d-flex">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> Festival</p>
          </div>
          <p>Een festivalbestemming/verblijf op een festivalterrein is met de camperbus niet toegestaan.
          </p>
        </div>

        <div class="mb36">
          <div class="d-flex">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> KM-vergoeding</p>
          </div>
          <p>Het aantal vrije kilometers bedraagt 1500 per week. Daarboven geldt een toeslag van €0,30 per km.
          </p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12 mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> Huishoudelijke regels</p>
          </div>
          <ul>
            <li><p>Roken in de camper is niet toegestaan.</p></li>
            <li><p>Het meenemen van huisdieren in de camper is niet toegestaan.</p></li>
            <li><p>Reizen is alleen toegestaan in de landen vermeldt op de groene kaart (zonder negatief reisadvies
                    t.a.v. covid-19).
            </p></li>
            <li><p>Maximaal draaglast fietsendrager is 60 kg, dus te gebruiken voor elektrische fietsen, exclusief de batterij.</p></li>
            <li><p>Brandstoftank is vol bij aanvang huur: bij inlevering dient de tank weer vol te zijn.</p></li>
            <li><p>Binnenkant/interieur van de camperbus dient schoon te zijn bij inleveren na de huurperiode; ook de
                   en het cassettetoilet zijn schoongemaakt. Schoonmaak buitenzijde camperbus wordt door
                  ons gedaan.
            </p></li>
          </ul>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 1. Schoonmaakkosten</p>
          </div>
          <p>De camper dient door de huurder in dezelfde staat te worden teruggebracht als waarin hij de camper heeft
            ontvangen. Indien dit niet gebeurt, gelden de volgende schoonmaakkosten:
            <p>- Binnenzijde/interieur niet of onvoldoende gereinigd 75 euro</p>
            <p>- Koelkast niet gereinigd 45 euro</p>
            <p>- Toiletruimte/casette niet gereinigd 75 euro</p>
            <p>- Toilettank niet geledigd 45 euro</p>
          </p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 2. Verplichtingen:</p>
          </div>
          <p>A. Verplichtingen verhuurder: Verhuurder is verplicht de kampeerauto als volgt ter beschikking te stellen:</p>
          <p>1. Tijdig en op de plaats zoals afgesproken in deze overeenkomst.</p>
          <p>2. In goede staat die overeenstemt met de wettelijke bepalingen.</p>
          <p>3. Compleet met eventuele inventaris en toebehoren.</p>
          <p>4. Met bijbehorende documenten zoals het kentekenbewijs en verzekeringsbewijs</p>
          <p>5. Met voldoende instructie vooraf over gebruik van de kampeerauto, inventaris en toebehoren.</p>

          <p>B. Verplichtingen huurder: Huurder is verplicht:</p>
          <p>1. De verschuldigde huur- en borgsom te voldoen ook al gebruikt hij de kampeerauto niet of voor een
             gedeelte van de huurperiode, tenzij er annuleringskosten worden voldaan als bepaald in artikel 5.</p>
          <p>2. Zorg te dragen dat de bestuurder in het bezit is van een geldig rijbewijs en daarmee de kampeerauto mag
             besturen.</p>
          <p>3. De kampeerauto zorgvuldig, in overeenstemming met zijn bestemming, te gebruiken.</p>
          <p>4. De instructies van de verhuurder op te volgen.</p>
          <p>5. De kampeerauto niet aan anderen dan aangegeven in deze overeenkomst in gebruik te geven of te
             verhuren.</p>
          <p>6. De kampeerauto tijdig (zoals afgesproken in deze overeenkomst) en in dezelfde staat als bij aanvang van
             de huurperiode in te leveren bij verhuurder.</p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 3. Borg</p>
          </div>
          <p>1. Bij aanvang van de huurperiode betaalt huurder € 680,- borg aan verhuurder. Dit bedrag zal door
             verhuurder, worden terugbetaald aan huurder onder aftrek van hetgeen huurder aan verhuurder nog
            verschuldigd is. Bijvoorbeeld aan de huurder toerekenbare schade aan het gehuurde en administratiekosten.
            Verhuurder dient deze schade en kosten te bewijzen, bijvoorbeeld door foto’s en nota’s.</p>
          <p>2. Mocht de borg niet toereikend zijn, dan kan verhuurder de huurder aanspreken voor het meerdere.</p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 4. Aanvraag boeking en betalingswijze</p>
          </div>
          <p>Een aanvraag kan uitsluitend gedaan worden door te bellen, te schrijven/mailen of langs te komen. De
              huurovereenkomst dient u volledig en naar waarheid in te vullen, te ondertekenen en aan de verhuurder te
              overleggen. Bij reservering dient 4 maanden voorafgaand aan de huurperiode €680,- als borgsom te worden
              aanbetaald. Een boeking is pas definitief als het huurcontract volledig ingevuld en ondertekend door ons is
              ontvangen. De totale huursom dient uiterlijk 2 weken voorafgaand aan de huurperiode op onze bankrekening
              te zijn bijgeschreven.</p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 5. Annulering huurder</p>
          </div>
          <p>1. Huurder dient per (aangetekende post) of e-mail te annuleren.</p>
          <p>2. Bij annulering is huurder de volgende annuleringskosten verschuldigd:</p>
          <p>a. 15% van de huurprijs bij annulering langer dan 3 maanden voor aanvangsdatum van de huurperiode;</p>
          <p>b. 50% van de huurprijs bij annulering langer dan 2 maanden maar niet langer dan 3 maanden voor
              aanvangsdatum van de huurperiode;</p>
          <p>c. 70% van de huurprijs bij annulering langer dan 1 maand maar niet langer dan 2 maanden voor
              aanvangsdatum van de huurperiode;</p>
          <p>d. 90% van de huurprijs bij annulering vanaf 1 dag maar niet langer dan 1 maand voor aanvangsdatum van
            de huurperiode;</p>
          <p>e. 100% van de huurprijs bij annulering op de aanvangsdatum van de huurperiode.</p>
          <p>3. Verhuurder mag naast de annuleringskosten een vast bedrag van €25,- aan administratiekosten in
              rekening brengen.</p>
          <p>4. Indien de kampeerauto voor (gedeeltelijk) overeengekomen periode alsnog wordt verhuurd aan een
             derde, worden de annuleringskosten verminderd met de huuropbrengst.</p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 6. Niet nakoming</p>
          </div>
          <p>1. Komt een der partijen zijn verplichtingen niet na, dan heeft de ander het recht om de overeenkomst
              geheel of gedeeltelijk te ontbinden, tenzij de tekortkoming van een geringe aard of omvang is. Bij ontbinding
              bestaat er aanspraak op een vergoeding van eventuele schade, tenzij de tekortkoming aan deze partij zelf
              kan worden toegerekend.</p>
          <p>2. Bij ontbinding resp. gedeeltelijke ontbinding wegens een tekortkoming van verhuurder restitueert hij (een
              deel van) de betaalde huurprijs.</p>
          <p>3. Wordt de kampeerauto niet of niet tijdig afgeleverd, dan heeft huurder recht op 25% van de huursom,
              behoudens het recht op schadevergoeding, zoals genoemd in lid 1.</p>
          <p>4. Brengt huurder de kampeerauto later terug dan overeengekomen, dan heeft verhuurder per dag recht op
              een vergoeding van de dagprijs (evenredig percentrage van de huurprijs).</p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 7. Kosten tijdens verhuur</p>
          </div>
          <p>1. De kosten die direct verband houden met het gebruik van de kampeerauto tijdens de huurperiode, zoals
            boetes en tol, komen voor rekening van huurder.</p>
          <p>2. De noodzakelijke kosten van normaal onderhoud en reparatie komen voor rekening van verhuurder.
             Indien er sprake is van een gebrek, dient huurder direct contact op te nemen met verhuurder om de
            mogelijkheden te bespreken.</p>
        </div>

         <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 8. Schade of pech</p>
          </div>
          <p>1. Bij diefstal, inbeslagname of aanzienlijke beschadiging van de kampeerauto, inventaris en toebehoren,
             treedt huurder in overleg met verhuurder. Huurder houdt zich aan de instructies van de verhuurder.</p>
          <p>2. Huurder is aansprakelijk voor tijdens de huurperiode ontstane schade, tenzij deze niet aan hem kan
              worden toegerekend. De schade kan niet op huurder worden verhaald als deze onder de dekking valt van

              een vooraf voor deze kampeerauto afgesloten verzekering. Eventueel eigen risico dat de verzekeraar van
              verhuurder in rekening brengt komt wél voor rekening van huurder.</p>

          <p>De huurcamper is allrisk verzekerd. De verzekeringskosten zijn bij de huurprijs inbegrepen. Het eigen risico
            bij schade bedraagt € 1000,- per gebeurtenis. De camper is verzekerd bij Aveco. </p>

           <p>De Aveco Pechhulp Service is bereikbaar via: Aveco alarmcentrale +31 (0)20 59 29 197 (24 u/7 dagen per week). </p>

           <p>De verzekering dekt WA-schade, cascoschade, pechhulp, repatriëring en een vervangende camper.
            Schade of ontvreemding (de camper is voorzien van satellietvolgapparatuur) dienen zo spoedig mogelijk,
            doch uiterlijk binnen 24 uur bij de verhuurder te worden gemeld. Wordt hieraan niet voldaan of kan niet
            onomstotelijk vastgesteld worden dat de huurcamper gestolen is (ondanks ontvreemding), kunt u bij grove
            nalatigheid volledig aansprakelijk worden gesteld voor de geleden schade. Houd daarom altijd
            autobescheiden en contactsleutels in uw bezit en verwijder deze uit het contactslot als u stilstaat en de
            huurcamper verlaat.</p>
            <p>Eventuele reparaties worden pas na toestemming van de verhuurder verricht. Aan het einde van de
            huurperiode wordt de huurcamper door de verhuurder geïnspecteerd. Eventuele schade, ontbrekende
            onderdelen en brandstof worden verrekend met de borgsom.</p>
            <p>Bij de reisdocumenten is een Europees schadeformulier aanwezig waarop een eventuele schade als ook de
            gegevens van de tegenpartij gemeld dienen te worden. Dit formulier dient bij aankomst bij de verhuurder
            ingeleverd te worden.</p>
            <p>We adviseren je dringend om een reis- en annuleringsverzekering af te sluiten.</p>
        </div>

        <div class="mb36">
          <div class="d-flex mb12">
            <div class="side-line-box"><div class="side-line"></div></div>
            <p class="montserrat-header mb5"> 9. Toepasselijk recht</p>
          </div>
          <p class="mb24">Op deze overeenkomst is Nederlands recht van toepassing. Uitsluitend de Nederlandse rechter is bevoegd
              van geschillen kennis te nemen.Op deze overeenkomst is Nederlands recht van toepassing. Uitsluitend de Nederlandse rechter is bevoegd
              van geschillen kennis te nemen.</p>

          <p><em>Wij wensen u een veilige en prachtige reis toe!</em></p>
        </div>

      </div>
    </div>
  </div>
</div>
