.navbar {
  background-color: transparent;
  color: white;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 24px;
  padding: 24px;

  p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
  }
}

.nav-absolute {
  position: absolute;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    width: 48px;
    height: 48px;
  }
}

.menu-items {
  display: flex;
}

.menu-items > div {
  margin-left: 48px;
}

.nav-links {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $orange;
  }
}

.admin-nav {
  background-color: $orange;
}

.nav-link-admin {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}
